<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Welcome to our Dog App!</h1>
            <p>Explore the various dogs and their information.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/img/lab.jpg" alt="Dog Image 1" class="img-fluid dog-image">
        </div>
        <div class="col-sm-4">
            <img src="/img/dogplace-holder.jpg" alt="Dog Image 2" class="img-fluid dog-image">
        </div>
        <div class="col-sm-4">
            <img src="/img/doberman.jpg" alt="Dog Image 3" class="img-fluid dog-image">
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 text-center">
            <LinkTo @route="dogs" class="btn btn-primary">View All Dogs</LinkTo>
        </div>
    </div>
</div>
